*{
    padding: 0;
    margin: 0;
}
.container1{
    display: flex;
}
.container2{
    display: flex;
}
.nav{
    background-color: beige;
    padding: 287px 105px;
}
.header{
    background-color: pink;
    padding: 50px 488px;
}
.article{
    background-color: palevioletred;
    padding: 165px 400px;
}
.aside{
    background-color: white;
    padding-right: 138px;
}
.footer{
    background-color: bisque;
    padding: 50px 488px;
}